div.header {
    article.profile-forget {
        padding: 20px 0;

        p.instructions {
            margin-top: 19px;
        }
    }
}

div.container {
    article.profile-forget {
        padding: 140px 0;
    }
}

article.profile-forget {
    text-align: center;

    input[type="submit"] {
        color: white;
        background: $blue;
        border: 1px solid darken($blue, 5%);
        border-radius: 4px;
        display: block;
        margin: 20px auto 20px;
        padding: 8px 20px;
        width: 150px;

        &:hover {
            background: black;
            border-color: black;
            cursor: pointer;
        }
    }

    p {
        color: #606060;
    }
}
