div.header {
    article.newsletter {
        padding: 20px 0;
    }
}

div.container {
    article.newsletter {
        padding: 100px 0;
        overflow: auto;

        p {
            width: 500px;
            float: left;
            strong {
                display: block;
                font-size: 24px;
                font-weight: normal;
                margin: 0 0 8px;
                @include number-font();
            }
        }
        #mc_embed_signup {
            float: right;
            width: 500px;

            form {
                padding: 0;
                margin: 40px 0 0 0;
                overflow: auto;
            }

            input.email {
                float: left;
                width: 300px;
                font-size: 20px;
                padding: 8px 10px;
                line-height: 28px;
                vertical-align: middle;
                border: none;
                border-radius: 10px;
                background: #eee;
                &:focus {
                    outline: none;
                    border: none;
                    content: '';
                }
            }
            input.button {
                background:$green;
                border-radius: 10px;
                clear: none;
                float: left;
                font-size: 20px;
                font-weight: 100;
                height: 38px;
                width: 100px; 
                @include sans();
            }
        }
    }
}
