
div.header {
    article.private-profile {
        padding: 20px 0 20px 0;
        
        div.title {
            overflow: auto;

            h1 {
                font-size: 32px;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                color: #3f6071;
                float: left;
            }
        }
    }
}

article.private-profile {
    padding: 20px 0 40px 0;

    div.left {
        width: 500px;

        h2 {
            font-size: 20px;
            font-weight: 300;
            margin: 24px 0 12px 0;
        }

        a {
            margin: 0px 5px;
        }
        p, ol, ol li {
            color: #606060;
            margin: 0 0 16px 0;
        }
    }
}
