div.header {
    article.sales {
        padding: 20px 0;

        div.title {
            h1 {
                span {
                    opacity: 0.6;
                }
            }
            p.instructions {
                margin-top: 4px;
            }
            div.actions {
                color: #909090;
                margin: -3px 0 0;
                text-align: right;
                height: 18px;
                font-size: 13px;
                overflow: visible;

                a {
                    margin: 0 6px;
                    &.active {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

div.container {
    article.sales {
        padding: 0;
        min-height: 500px;
    }
}

article.sales {
    overflow: visible;
    hr {
        margin: 0 !important;
    }

    h2 {
        display: inline-block;
        font-size: 18px;
        margin: 15px 0 !important;
    }
    h3 {
        @include game-title();
        font-size: 16.5px;
        float: left;
        font-weight: normal;
        margin-top: -4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
    }
    h4 {
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        margin: 4px 0;

        del {
            color: #909090;
        }
    }
    h5 {
        color: #909090;
        font-size: 13px;
        font-weight: normal;
        height: 36px;
        line-height: 18px;
        margin: 0;
        overflow: hidden;
        width: 200px;
    }

    ul.prediction-list {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            a {
                text-decoration: none;
                color: black;
                padding: 15px 0;
                border-bottom: 1px solid #e0e0e0;
                display: block;
                overflow: visible;
                position: relative;

                img {
                    display: inline;
                    float: left;
                    margin-right: 12px;
                    border: 1px solid #909090;
                }
                div.overlay {
                    background: url('/images/on-sale-overlay.png');
                    display: block;
                    height: 36px;
                    left: -5px;
                    position: absolute;
                    top: 10px;
                    width: 36px;
                    z-index: 10;
                }
                p.percent-off {
                    border-radius: 4px;
                    color: $green;
                    display: inline-block;
                    float: right;
                    font-family: 'Lato', sans-serif;
                    font-size: 42px;
                    font-weight: 300;
                    height: 62px;
                    line-height: 20px;
                    margin-left: 12px;
                    padding: 22px 0 0 0;
                    text-align: center;
                    width: 120px;

                    >span.label {
                        display: block;
                        font-size: 16px;
                        margin-top: 12px;
                    }
                    .ruble-sign {
                        background-image: url('/images/region-ru/ruble-green.png');
                    }
                }
                &:hover {
                    p.percent-off {
                        background: $green;
                        color: white;

                        .ruble-sign {
                            background-image: url('/images/region-ru/ruble-white.png');
                        }
                    }
                }
            }
        }
    }

    div.left {
        position: relative;
        float: left;
        border-right: 1px solid #e0e0e0;
        padding: 0 20px 0 0;  
        width: 529px;
        margin: 10px 0 0;
        a.more {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    div.right {
        position: relative;
        float: left; 
        width: 529px;
        padding: 0 0 0 20px;
        margin: 10px 0 0;
        a.more {
            position: absolute;
            right: 0;
            top: 20px;
        }
    }

    div.filters {
        padding: 12px 0;
        margin: 0;
        overflow: visible;
        clear: both;

        div.sort-by,
        div.price,
        div.genres {
            color: #a0a0a0;
            float: right;
            font-size: 13px;
            margin: 6px 0 14px;

            .current {
                background: #e3e3e3;
                border: 1px solid #d9d9d9;
                border-radius: 3px;
                color: #404040;
                cursor: default;
                display: block;
                height: 20px;
                margin: 0 2px;
                padding: 2px 11px;
                &.active {
                    border-color: $blue;
                    background: $blue;
                    color: white;
                }
            } 

            .options {
                background: $blue;
                border-radius: 0 3px 3px 3px;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
                display: none;
                left: 2px;
                position: absolute;
                top: 26px;
                width: 110px;
                z-index: 100;
                
                hr {
                    margin: 4px 6px;
                    border-color: rgba(255, 255, 255, 0.4);
                }

                a {
                    font-size: 13px;
                    border-radius: 0 3px 3px 3px;
                    color: white;
                    display: block;
                    padding: 6px 12px;

                    &:hover {
                        background: black;
                        color: white;
                        text-decoration: none;
                    }
                }
            }

            .dropdown {
                display: inline-block;
                position: relative;
                &:hover {
                    div.options {
                        display: block;
                    }
                    a.current {
                        background: black;
                        border-color: black;
                        border-radius: 3px 3px 0 0;
                        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
                        color: white;
                        text-decoration: none;
                    }    
                }
            }

            form {
                display: inline-block;
                input {
                    border: 1px solid #e0e0e0;
                    border-radius: 3px 0 0 3px;
                    border-right: 0;
                    color: $blue;
                    float: left;
                    font-size: 13px;
                    height: 18px;
                    margin: 0 0 0 2px;
                    padding: 3px 6px;
                    width: 80px;
                    @include placeholder {
                        color: #909090;
                    }
                    &:focus, &:hover {
                        outline: 0;
                    }
                }
                button {
                    background-color: #e3e3e3;
                    border: 1px solid #d9d9d9;
                    border-left: 0;
                    border-radius: 0 3px 3px 0;
                    color: #404040;
                    font-size: 13px;
                    height: 26px;
                    margin: 0;
                    padding: 2px 12px;
                    text-decoration: none;
                    @include sans();

                    &.active {
                        background-color: $blue;
                        border-color: $blue;
                        color: white;
                    }
                    &:hover {
                        background-color: black;
                        border-color: black;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
        div.genres,
        div.price {
            margin-right: 16px;
        }

        div.paging {
            color: #a0a0a0;
            float: left;
            margin: 6px 0 16px;

            a.page {
                display: inline-block;
                height: 20px;
                text-align: center;
                width: 30px;
                color: #a0a0a0;
                &:hover {
                    color: black;
                    text-decoration: none;
                }
            }
            a.last-page {
                color: #a0a0a0;
                &:hover {
                    color: black;
                    text-decoration: none;
                }
            }
            a.next-page {
                display: block;
                margin: 3px 0 0 20px;
                float: right;
                color: #a0a0a0;
                &:hover {
                    color: black;
                    text-decoration: none;
                }
            }
            span {
                background: #e0e0e0;
                color: black;
                display: inline-block;
                height: 26px;
                margin: 0 2px;
                text-align: center;
                width: 26px;
                line-height: 26px;
                border-radius: 13px;
                cursor: default;
            }
            strong {
                color: black;
            }
        }
    }

    #nothing-on-sale {
        font-size: 20px;
        font-weight: 300;
        margin: 180px 0;
        text-align: center;
    }
}
