/* Styling for the profile settings page */
article.profile-settings {
    overflow: visible;
    padding: 20px 0 20px 0;

    h2 {
        font-weight: 300;
        font-size: 22px;
        margin: 10px 0 0;
        span {
            color: #303030;
            font-size: 14px; 
            margin: 0 0 0 6px;
        }
    }

    div.email-settings,
    div.tag-settings,
    div.pricing-settings,
    div.privacy-settings,
    div.friend-settings,
    div.payment-history {
        background: #f4f4f4;
        border: 1px solid #d0d0d0;
        border-radius: 4px;
        margin: 10px 0 30px; 
        padding: 10px 30px;
    }

    thead {
        tr {
            border-bottom: 1px solid #d0d0d0;
        }
    }

    tr.email-row {
        border-bottom: 1px solid #d0d0d0;

        td {
            padding: 8px 10px;

            &.email {
                text-align: left;
                color: #303030;
            } 
            &.confirmation {
                cursor: default;
                text-align: center;
                width: 250px;

                span {
                    color: #303030;
                    display: block;
                }
                p.message {
                    color: #606060;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 300;
                }
                a.resend {
                    cursor: pointer;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 300;
                }
            }
            &.confirmed {
                color: $green;
                font-weight: bold;
            }
            &.watchlist {
                text-align: center;
                width: 70px;  
            }
            &.marketing {
                text-align: center;
                width: 70px;
            }
            &.remove {
                text-align: center;
                width: 50px;

                a {
                    cursor: pointer;
                    display: inline-block;
                    font-weight: bold;
                    height: 24px;
                    line-height: 24px;
                    width: 24px;
                    font-size: 18px;

                    &:hover {
                        background: $blue;
                        border-radius: 3px;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    #add-email-form {
        float: left; 
        margin: 10px 0 10px -10px;

        span {
            font-weight: normal;
            color: #606060;
        }
        input[type="email"] {
            border: 1px solid #d0d0d0;
            border-radius: 4px;
            font-size: 14px;
            height: 21px;
            margin: 0 6px 0 0;
            padding: 4px 9px; 
            width: 290px;
            @include sans();

            &:invalid {
                box-shadow: none;
                -moz-box-shadow: none;
            }
        }
        input[type="submit"] {
            background: $blue;
            border: 1px solid darken($blue, 10%);
            border-radius: 4px;
            color: #ffffff;
            cursor: pointer;
            float: right;
            font-size: 12px;
            font-weight: normal;
            height: 31px;
            padding: 5px 10px;
            @include sans();

            &:hover {
                background: black;
                border-color: black;
            }
        }
        .tooltip-inner {
            font-weight: 400;
            max-width: 1000px;
        }
    }

    div.pricing-settings {
        overflow: auto;
        padding: 30px 20px;
        vertical-align: middle;

        label {
            color: #303030;
        }
    }
    div.privacy-settings {
        overflow: auto;
        padding: 30px;

        input {
            float: left;
            margin: 3px 10px;
        }
        label {
            color: #303030;
            float: left;
        }
    }

    div.friend-settings {
        padding: 20px 30px;

        p {
            color: #303030;
        }
    }

    #friend-list {
        tbody {
            tr {
                border-top: 1px solid #d0d0d0;
            }
        }
        th {
            padding: 0 10px 20px;
        }

        td {
            padding: 8px 10px;
            color: #303030;

            &.library {
                width: 66px;
                text-align: center;
                font-weight: bold;
            }
            &.insights {
                width: 66px;
                text-align: center;
                font-weight: bold;
            }
            &.steam-profile {
                width: 96px;
                text-align: center;
                font-weight: bold;
            }
            &.since {
                text-align: center; 
            }
            &.remove {
                text-align: center;
                width: 50px;

                a {
                    cursor: pointer;
                    display: inline-block;
                    font-weight: bold;
                    height: 24px;
                    line-height: 24px;
                    width: 24px;
                    font-size: 18px;

                    &:hover {
                        background: $blue;
                        border-radius: 3px;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    div.tag-settings {
        padding: 20px 30px;
    }
    #tag-list {
        cursor: default;

        tbody {
            tr {
                border-bottom: 1px solid #d0d0d0;
            }
        }

        th {
            padding: 0 0 20px;
        }

        td {
            padding: 8px 10px;
            color: #303030;

            &.name {
                text-align: center;
            }
            &.group {
                text-align: center;
            }
            &.count {
                text-align: center;
                width: 80px;
            }
            &.edit {
                text-align: center;
                width: 60px;

                a.edit {
                    cursor: pointer;
                }
            }
            &.remove {
                width: 60px;
                text-align: center;

                a.remove {
                    cursor: pointer;
                    display: inline-block;
                    font-weight: bold;
                    height: 24px;
                    line-height: 24px;
                    width: 24px;
                    font-size: 18px;

                    &:hover {
                        background: $blue;
                        border-radius: 3px;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    #add-tag-form {
        float: left; 
        margin: 10px 0 10px -10px;

        span {
            font-weight: normal;
            color: #606060;
        }
        input[type="text"] {
            border: 1px solid #d0d0d0;
            border-radius: 4px;
            font-size: 14px;
            height: 21px;
            margin: 0 6px 0 0;
            padding: 4px 9px; 
            width: 180px;
            @include sans();

            &:invalid {
                box-shadow: none;
                -moz-box-shadow: none;
            }
        }
        input[type="submit"] {
            background: $blue;
            border: 1px solid darken($blue, 10%);
            border-radius: 4px;
            color: #ffffff;
            cursor: pointer;
            float: right;
            font-size: 12px;
            font-weight: normal;
            height: 31px;
            padding: 5px 10px;
            @include sans();

            &:hover {
                background: black;
                border-color: black;
            }
        }
        .tooltip-inner {
            font-weight: 400;
            max-width: 1000px;
        }
    }

    #edit-tag-modal {
        .field {
            margin: 8px 0;
        }

        label {
            color: #606060;
            display: inline-block;
            font-size: 13px;
            margin: 0 10px 0 0;
            text-align: right;
            width: 50px;
        }
        input[type="text"] {
            border: 1px solid #d9d9d9;
            border-radius: 4px;
            font-size: 13px;
            margin: 0;
            padding: 6px 8px;
            width: 170px;
        }
        input[type="submit"] {
            border: 0;
            display: block;
            height: 0;
            line-height: 0;
            margin: 0;
            outline: 0;
            padding: 0;
        }
    }

    div.payment-history {
        padding-top: 20px;
        padding-bottom: 20px;

        .no-payments-message {
            margin: 1em 0;
        }

        #payments {
            margin: 0 0 40px;

            td {
                padding: 10px;
                border-bottom: 1px solid #e0e0e0;

                &.what {
                    text-align: left;
                }
                &.when {
                    text-align: center;
                }
                &.amount {
                    text-align: center;
                }
            }
        }
    }

    div.pricing-settings {
        padding-left: 40px;
        label {
            margin-right: 10px;
        }
        span.message {
            color: $green;
            font-weight: bold;
            margin: 0 20px;
            opacity: 0;
        }
    }
}
