/* styling for the welcome page */
div.header {
    article.welcome {
        padding: 10px 0 16px;
    }
}

article.welcome {
    padding: 40px 0 60px; 
    overflow: auto;

    div.title {

        div.processing {
            clear: both;
            padding-top: 6px;
            color: #606060;

            p {
                float: left;
            }
            div.loader {
                background: url('/images/loader.gif') no-repeat center center;
                height: 9px;
                width: 128px;
                overflow: hidden;
                float: right;
                margin-top: 4px;

                &.complete {
                    background: transparent;
                    height: auto;
                    width: auto;
                    overflow: visible;
                    margin: 0;
                }
                &.private {
                    color: red;
                }
            }
        }
    }

    div.content,
    div.private {
        width: 740px;
        margin: 0 auto;

        h2 {
            font-size: 20px;
            font-weight: 300;
            margin: 0 0 10px;
        }
        h3 {
            font-size: 16px;
            font-weight: 300;
        }
        p {
            font-size: 14px;
            margin: 8px 0;
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                margin: 30px 0;
                color: #606060;
                padding: 0 0 0 120px;
                height: 66px;
                display: block;

                strong {
                    color: black;
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 4px;
                }

                &.time {
                    background: url('/images/clock.png') no-repeat 36px center;
                }
                &.cost {
                    background: url('/images/wallet.png') no-repeat 36px center;
                }
                &.rating {
                    background: url('/images/star.png') no-repeat 36px center;
                }
            }
        }
        ol {
            margin: 10px 0;

            li {
                margin: 8px 0;
                color: #606060;    
                a {
                    color: $blue;
                }
                img.example {
                    margin: 6px 0;
                }
                img.sign-in {
                    margin: 6px 0 0;
                    display: block;
                }
            } 
        }
        a.button {
            @include button(simple, #799b10);
            float: left;
            font-size: 14px;
            text-align: center;
            margin: 10px 0 0 120px;

            &.disabled {
                @include button(simple, #e0e0e0);
                font-size: 14px;
                opacity: 0.5;
            }
        }
    }
    div.private {
        h2 {
            font-weight: 300;
            margin: 0 0 20px;
        }
    }
}

