{% extends "gamestradamus/base.html" %}

{% block title %}Thanky you for your Premium Subscription{% endblock %}

{% block header %}
    <article class="thank-you">
        <div class="title">
            <h1>Thank You!</h1>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="thank-you">
        <h2>You now have access to our Premium service.</h2>
        <p>We aren't yet collecting payments for our Premium service while we are in Beta.
           Once we have finished refining Gauge and release it to the public we will
           clear all Premium accounts but until then, you are free to use Gauge for free.</p>
        <a href="/profile/">Your Predictions</a>
    </article> 
{% endblock %}
