<div id="premium-modal" class="modal fade" style="display: none;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" title="Cancel">&times;</button>
                <h4>Custom Library Tagging</h4>
            </div>

            <div class="modal-body">
                <p><strong>Add custom tags to games in your Library!</strong></p>
                <p><br>Supporters are getting first access to this exciting new feature. Sign up now and get access immediately!</p>
            </div>

            <div class="modal-footer">
                <a href="/payment/crowdfunding/" class="primary">More Details</a>
                <button type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
