{% extends "gamestradamus/base.html" %}

{% block title %}Gaugepowered / Admin{% endblock %}
{% block description %}... Wat? ...{% endblock %}

{% block header %}
    <article class="admin">
        <div class="title">
            <h1>Admin</h1>
            <p class="data"></p>
            <p class="instructions">... Wat? ...</p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="admin">
        <div class="left">
            {% block left %}
                <strong>Nothing</strong>
            {% endblock %}
        </div>
        <div class="right">
            {% block right %}
            <h2>Tools</h2>
            <ul> 
                <li>
                    <a href="/gauge_admin/duplicates">Process Possible Duplicates</a>
                </li>
            </ul>
            {% endblock %}
        </div>  
        <div class="actions">
            {% block actions %}
            {% endblock %}
        </div>
    </article>
{% endblock %}
