{% extends "gamestradamus/base.html" %} 
{% block title %}Your Profile Settings{% endblock %}

{% block header %}
    <article class="profile-settings">
        <div class="title">
            <h1>Your Profile Settings</h1>
            <p class="data"></p>
            <p class="instructions">Update your notification &amp; privacy settings.</p>
        </div>
    </article>
{% endblock %}

{% block container %}
    <article class="profile-settings">
        {% include "gamestradamus/fragment/tags/edit-modal.html" %}

        <h2>Steam Region Settings<span>&mdash; choose the regional currency and pricing for your profile.</span></h2>
        <div class="pricing-settings">
            <form action="#">
                <label for="region">Region &amp; Currency:</label>&nbsp;
                <select name="region" id="region" data-user-attrs-id="{{ user_attrs.id }}">
                    {% for region, region_settings in regions.iteritems()|sort(attribute=0) %}
                        <option value="{{ region }}" {% if region == current_region.value %}selected{% endif %}>{{ region_settings.region_name }}  ({{ region_settings.numbers.currency_abbreviation }})</option>
                    {% endfor %}
                </select>
                <span class="message">Saved!</span>
            </form> 
        </div>

        <h2>Privacy Settings<span>&mdash; configure how your data is used by Gauge.</span></h2>
        <div class="privacy-settings">
            <input 
                id='data-usage-opt-out'
                type="checkbox"
                data-user-attrs-id="{{ user_attrs.id }}"
                {% if user_attrs.data_usage_opt_out %}checked="checked"{% endif %}
            >
                <label for="data-usage-opt-out">Remove my information from Gauge's prediction algorithms and stop displaying my information publicly.</label>
        </div>

        <h2 id="friend-settings">Friend Settings<span>&mdash; manage the list of friends that can access your Library on Gauge.</span></h2>
        <div class="friend-settings">
        {% if not friend_list %}
            <p>You have no friends on Gauge.</p>
        {% else %}
            <table id="friend-list">
                <thead>
                <tr>
                    <th><a>Nickname</a></th>
                    <th>Library</th>
                    <th>Insights</th>
                    <th>Steam Profile</th>
                    <th><a>Since</a></th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                    {% for friend in friend_list %}
                    <tr data-user-account-friend-id="{{ friend[0].id }}">
                        <td>{{ friend[1].nickname }}</td>
                        <td class="library"><a href="/member/{{ friend[1].id }}/games/" title="{{ friend[1].nickname }}'s Library Page">&nbsp;L&nbsp;</a></td>
                        <td class="insights"><a href="/member/{{ friend[1].id }}/insights/" title="{{ friend[1].nickname }}'s Insights Page">&nbsp;I&nbsp;</a></td>
                        <td class="steam-profile"><a href="{{ friend[1].openid.replace('/openid/id/', '/profiles/') }}" target="_blank" title="{{ friend[1].nickname }}'s Steam Profile">&nbsp;S&nbsp;</a></td>
                        <td class="since" data-since="{{ friend[0].since }}">{{ friend[0].since.strftime("%b %d, %Y") }}</td>
                        <td class="remove">
                            <a class="remove-friend" title="Remove Friend: {{ friend[1].nickname }}">×</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>

        <h2 id="notification-settings">Notification Settings<span>&mdash; configure the notifications you receive from Gauge.</span></h2>
        <div class="email-settings">
            <table id="emails">
            {% if emails %}
                <thead>
                    <tr>
                        <th><a>E-Mail Address</a></th>
                        <th><a class="sort-descending">Status</a></th>
                        <th><a>Watchlist</a></th>
                        <th><a>Marketing</a></th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                {% for email in emails %}
                    <tr data-email-id="{{ email.id }}" class="email-row">
                        <td class="email">{{ email.email }}</td>
                        {% if email.date_confirmed %}
                            <td class="confirmation confirmed">confirmed</td>
                            <td class="watchlist">
                                <input type="checkbox" {% if email.watch_list_notifications %}checked="checked"{% endif %}>
                            </td>
                            <td class="marketing">
                                <input type="checkbox" {% if email.marketing_notifications %}checked="checked"{% endif %}>
                            </td>
                        {% else %}
                            <td class="confirmation pending">
                                <span>pending</span>
                                <a class="resend">(resend confirmation e-mail)</a>
                            </td>
                            <td class="watchlist">
                                <input class="disabled" type="checkbox" disabled="disabled">
                            </td>
                            <td class="marketing">
                                <input class="disabled" type="checkbox" disabled="disabled">
                            </td>
                        {% endif %}
                        <td class="remove">
                            <a class="remove-email" title="Remove Email: {{ email.email }}">×</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
            <tfoot>
                <tr>
                    <td colspan="5">
                        <form id="add-email-form">
                            <input id="email" type="email" name="email" placeholder="Add a new e-mail address to your profile." value="">
                            <input type="submit" class="add-email" value="Add +">
                        </form>
                    </td>
                </tr>
            </tfoot>
            </table>
        </div>

        <h2 id="tag-settings">Tag Settings<span>&mdash; manage your list of custom tags.</span></h2>
        <div class="tag-settings">
            <table id="tag-list">
                <thead {% if not tag_list %}class="hidden"{% endif %}>
                    <tr>
                        <th><a class="sort-reverse-initial">Name</a></th>
                        <th><a class="sort-ascending">Group</a></th>
                        <th><a>Games</a></th>
                        <th>Edit</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                {% for tag in tag_list %}
                    <tr data-user-account-tag-id="{{ tag.id }}">
                        <td class="name">{{ tag.name }}</td>
                        <td class="group">{{ tag.group|default('', True) }}</td>
                        <td class="count">{{ tag.count }}</td>
                        <td class="edit"><a class="edit" title="Edit '{{ tag.name }}'">edit</a></td>
                        <td class="remove"><a class="remove" title="Remove '{{ tag.name }}'">×</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <form id="add-tag-form">
                                <input type="text" class="name" placeholder="New Tag Name">
                                <input type="text" class="group" placeholder="Group (optional)">
                                <input type="submit" class="add-tag" value="Add Tag">
                            </form>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div> 

        <h2 id="payment-history">Payment History<span>&mdash; history of payments made for additional Gauge features.</span></h2>
        <div class="payment-history">
            {% if user_attrs.premium_account %}
                <p class="until" data-when="{{ user_attrs.premium_account_until.isoformat() }}">Premium Account access expires on:&nbsp;<strong></strong></p>
                <hr>
            {% endif %}

            {% if payments %}
                <table id="payments">
                    <thead>
                        <tr>
                            <th><a>Item</a></th>
                            <th><a class="sort-descending">Date</a></th>
                            <th><a>Amount</a></th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments %}
                            <tr>
                                <td class="what">{{ payment.what }}</td>
                                <td class="when" data-when="{{ payment.when.isoformat() }}"></td>
                                <td class="amount">${{ "%.2f"|format(payment.amount) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="no-payments-message">You have no payment history.</p>
            {% endif %}
        </div>
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/profile-settings"], function(init) { init(); });
    </script>
{% endblock %}
