{% extends "gamestradamus/base.html" %} 
{% import 'gamestradamus/numbers.html' as numbers %}
{% block title %}Your Watchlist{% endblock %}

{% block watchlist_nav_class %}active{% endblock %}

{% block header %}
    <article class="your-watch-list">
        <div class="title">
            <h1>Your Watchlist</h1>
            <p class="data"></p>
            <p class="instructions">
                Use your Watchlist to determine the best time to buy a game.
            </p>
        </div>
    </article>
{% endblock %}

{% block container %}
<article class="your-watch-list">

    <div id="add-email-success" class="hidden">
        <p>
            We have sent you a confirmation e-mail. This address must be confirmed before you can use it.
        </p>
        <a class="dismiss" title="Dismiss this message.">×</a>
    </div>

    <div id="add-email-ignored" class="hidden">
        <p>
            If you change your mind, you can always manage your notification settings on
            the&nbsp;<a href="/profile/settings">profile settings</a>&nbsp;page.
        </p>
        <a class="dismiss" title="Dismiss this message.">×</a>
    </div>

    <div id="add-email" {% if user_attrs.has_ignored_watchlist_email or has_watchlist_email or not results %}class="hidden"{% endif %}>
        <form id="marketing-form" method="post" action="#">
            <label for="email" class="email">Receive notifications via e-mail</label>
            <input id="email" type="email" name="email" placeholder="Enter e-mail address">
            <button id="subscribe" type="submit">Add +</button>

            <input id="marketing" type="checkbox" name="marketing" checked>
            <label for="marketing" class="marketing">Send me updates from the Gauge Labs.</label>
        </form>
        <a id="ignore-email" data-tag-id="{{ user_attrs.id }}" title="No thanks, I don't want any e-mails.">×</a>
    </div>

    <div id="empty-watch-list" class="{% if results %}hidden{% endif %}">
        <strong>Your Watchlist is empty.</strong>
        <p>There must be something you want?</p>
        <p>Start adding games&nbsp;<a href="/profile/browse/">now</a>.</p>
    </div>

    <table id="watch-list" class="{% if not results %}hidden{% endif %}">
    <thead>
        <tr>
            <th></th>
            <th><a class="sort-reverse-initial">Game / Genre</a></th>
            <th id="rating-column-header"><span>Community</span><br><a>Rating</a></th>
            <th id="hours-column-header"><span>Estimated</span><br><a>Hours</a></th>
            <th id="price-column-header"><span>Current</span><br><a class="sort-ascending sort-reverse-initial">Price</a></th>
            <th id="cost-per-hour-column-header"><a class="sort-reverse-initial">{{ region.numbers.dollar_symbol|safe }} / Hour</a></th>
            <th id="limit-column-header"><a>Notify me when</a></th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for watch, game in results %}
        {% if game.canonical_game_id %}
            {% set game = game.Game() %} 
        {% endif %}

        <tr 
            id="game-{{ game.id }}"
            class="watch {% if watch.satisfied(game) %}satisfied{% endif %}"
            data-watch-id="{{ watch.id }}"
            data-game-id="{{ game.id }}"
            data-game-name="{{ game.name }}"
            data-price="{{ "%.2f"|format(game.min_price) }}"
            data-base-price="{{ "%.2f"|format(game.price|default(0, True)) }}"
            data-cost-per-hour="{{ "%.2f"|format(game.community_value) }}" 
            data-base-cost-per-hour="{{ "%.2f"|format(game.community_value_base_price) }}"
        >
            <td class="position"><div>{{ loop.index }}</div></td>
            <td class="name">
                <a href="/profile/game/{{ game.id }}/">
                    <img 
                        {% if game.logo %}
                            src="{{ game.logo }}"
                        {% else %}
                            src="{{ request.config['gauge.steam_cdn'] }}{{ game.app_id }}/capsule_sm_120.jpg"
                        {% endif %}
                        width="96" height="36">
                    <h4 class="name">{{ game.name }}<sup>{% if watch.superscript %}[{{ watch.superscript }}]{% endif %}</sup></h4>
                </a><br>
                <h5 class="genre">{{ game.genre|default('', True) }}</h5>
            </td>
            <td class="rating" data-rating="{{ game.community_rating }}">
                {{ region.numbers.format_rating(game.community_rating) }}&nbsp;<span>/ {{ region.numbers.format_rating(5.0) }}</span>
            </td>
            <td class="hours" data-hours="{{ game.median_hours_played }}">
                {{ region.numbers.format_hours( game.median_hours_played) }}
            </td>
            <td class="price 
                {% if game.on_sale %}on-sale{% endif %}
                {% if watch.operation == "price" and watch.limit %}active{% elif watch.limit %}inactive{% endif %}
            " data-price="{{ game.min_price }}"><div>
                {% if game.on_sale %}
                    <span>{{ numbers.format_price_with_symbol(region, game.sale_price) }}</span><br><del>{{ numbers.format_price_with_symbol(region, game.price) }}</del>
                {% else %}
                    {{ numbers.format_price_with_symbol(region, game.price) }}
                {% endif %} 
            </div></td>
            <td class="cost-per-hour 
                {% if watch.operation == "cost-per-hour" and watch.limit %}active{% elif watch.limit %}inactive{% endif %}
            " data-cost-per-hour="{{ "%.2f"|format(game.community_value) }}"><div> 
                {% if game.community_value %}
                    {{ region.numbers.format_cost_per_hour(game.community_value) }}
                {% else %}
                    &mdash;
                {% endif %}
            </div></td>
            <td class="notification">
                <select class="operation" tabindex="{{ loop.index }}">
                    <option value="price" {% if watch.operation == "price" %}selected="selected"{% endif %}>Price&nbsp;</option>
                    <option value="cost-per-hour" {% if watch.operation == "cost-per-hour" %}selected="selected"{% endif %}>{{ region.numbers.dollar_symbol|safe }} / Hour&nbsp;</option>
                </select>
                <span>≤</span>
                <input
                    type="text"
                    class="limit"
                    value="{% if watch.limit %}{{ region.numbers.format_price(watch.limit) }}{% endif %}"
                    tabindex="{{ loop.index + results|length }}"
                >
            </td>
            <td class="copy">
                <a class="copy-watch" title="Copy watch on '{{ game.name }}'">+</a>
            </td>
            <td class="remove">
                <div><a class="remove-watch" title="Stop watching '{{ game.name }}'">×</a></div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        require(["gamestradamus/watch-list"], function(init) { init(); });
    </script>
{% endblock %}
